{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "transform-class-properties",
    ["@babel/plugin-transform-runtime",
      {
        "corejs": false,
        "helpers": true,
        "regenerator": true
      }
    ],
    ["react-css-modules", {
      "generateScopedName": "_[path]_[name]__[local]",
    }],
    ["module-resolver", {
      "root": ["./src"],
    }],
    ["import", { "libraryName": "antd", "libraryDirectory": "es", "style": "css" }]
  ],
}
