.root {
  display: flex;
  background: #242a37;
  align-items: center;
  height: 90px;
}

.title {
  flex: 1;
  padding: 0 35px;
  font-size: 16px;
  font-weight: 800;
}

.count {
  white-space: nowrap;
  color: #a3a3a3;
  padding: 0 35px;
}
