@import "../node_modules/antd/dist/antd.less";

@primary-color: #5B83AD;
@component-background: #323E52;
@text-color: white;
@text-color-secondary: #adb5c5;
@body-background: #212633;
@heading-color: white;
@border-color-base: #4f5c7d;
@background-color-light: #3b4767;
@border-color-split: #5f6e94;

@btn-primary-bg: #3b4767;
@btn-default-bg: #3b4767;

@input-bg: #323E52;

.@{collapse-prefix-cls} {
  border: 0;

  & > &-item {
    border-bottom: 0;
  }
}
