::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #212633;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3b4767;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
